set -gx GITHUB_PRODUCTION_TOKEN
set -gx GITHUB_PRODUCTION_SITE_ADMIN_TOKEN

set -gx GITHUB_PRODUCTION_TEST_USER_TOKEN
set -gx GITHUB_PRODUCTION_TEST_USER_SITE_ADMIN_TOKEN

set -gx GITHUB_DEVELOPMENT_TOKEN
set -gx GITHUB_DEVELOPMENT_SITE_ADMIN_TOKEN
