[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  br = branch
  co = checkout
  ci = commit
  st = status
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
  default = upstream
