[user]
  name = AUTHOR_NAME
  email = AUTHOR_EMAIL
  signingkey = GPG_SIGNING_KEY
[github]
  user = AUTHOR_HANDLE
[credential]
  helper = GIT_CREDENTIAL_HELPER
[alias]
  br = branch
  co = checkout
  ci = commit
  st = status
  staged = diff --staged
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim
[difftool]
  prompt = false
[mergetool]
  prompt = false
[push]
  default = upstream
[commit]
  gpgsign = true
