[submodule "launchbar/github.lbaction"]
	path = launchbar/Actions/github.lbaction
	url = https://github.com/bswinnerton/launchbar-github.git
	branch = master
[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/bswinnerton/dotfiles-fonts.git
