[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "vim/bundle/gist-vim"]
  path = vim/bundle/gist-vim
  url = git@github.com:mattn/gist-vim.git
[submodule "vim/bundle/webapi-vim"]
  path = vim/bundle/webapi-vim
  url = git@github.com:mattn/webapi-vim.git
[submodule "vim/bundle/vim-markdown"]
  path = vim/bundle/vim-markdown
  url = git@github.com:tpope/vim-markdown.git
[submodule "vim/bundle/vim-ruby"]
  path = vim/bundle/vim-ruby
  url = git@github.com:vim-ruby/vim-ruby.git
